.card-img-top {
    width: 200%;
    object-fit: cover;
    position: top;
}
body {
    font-family:cursive;
    background-color: #8400ff; 
    height: 200vh;
    
}
.btn-purple {
    background-color: #8400ff;
    color: #fff;
}

